* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  /* height: 100vmin; */
  /* width: 100vmin; */
  height: 100%;
  max-width: 70%;
  display: grid;
  overflow-x: scroll;
}
.container > div {
  min-width: 50px;
}

.sky {
  background: #8cbfff;
  filter: brightness(1);
}
.ground {
  background: url("./images/ground.jpeg");
  background-size: 100%;
}
.ground-top {
  background: url("./images/ground-top.jpeg");
  background-size: 110% 101%;
}
.stone {
  background: url("./images/stone.jpeg");
  background-size: 100%;
}
.tree {
  background: url("./images/tree.jpeg");
  background-size: 100%;
}
.cloud {
  background: url("./images/cloud.jpeg");
  background-size: 100%;
}
.leaf {
  background: url("./images/leaf.jpeg");
  background-size: 100%;
}
.wrapper {
  display: flex;
  position: relative;
}

.worldwrap {
  height: 100vh;
  width: 90%;
  display: flex;
  justify-content: center;
}
.sidebar {
  background-color: black;
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.tools {
  height: 15%;
  width: 70%;
  border: solid 3px white;
  color: white;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding: 5px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}
.tools:hover {
  background-color: blue;
}

.selected {
  height: 5%;
  width: 25%;
  border: solid 3px white;
}
.axe {
  background: url("./images/axe.jpg") no-repeat;
  background-size: contain, cover;
}
.pick {
  background: url("./images/pick.png") no-repeat;
  background-size: contain, cover;
}
.shovel {
  background: url("./images/shovel.png") no-repeat;
  background-size: contain, cover;
}

.container div {
  border: solid 1px rgba(255, 255, 255, 0);
}
.container div:hover {
  border: solid 1px rgba(255, 255, 255, 0.89);
}

.menu-container {
  display: flex;
  position: absolute;
  height: 100%;
  width: 100%;
}
.menu {
  /* background-color: green; */
  visibility: visible;
  background: url("./images/background.jpg");
  background-size: cover;
  /* opacity: 1; */
  height: 100%;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-side {
  background-color: green;
  opacity: 0;
  right: 0;
  height: 100%;
  width: 10%;
}
.start-b {
  background-color: white;
  width: 20%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  cursor: pointer;
  transition: 0.4s;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  font-weight: 700;
}

.start-b:hover {
  transform: scale(1.1);
  background-color: rgba(255, 255, 255, 0.863);
}
.reset-game {
  background-color: white;
  padding: 10px;
  cursor: pointer;
}

.inventory {
  /* border: solid 1px white; */
  width: 80%;
  height: 10%;
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.inventory > div {
  border: solid 1px white;
  height: 40%;
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.reset-game {
  font-size: 20px;
  opacity: 1;
  transition: 0.6s;
}
.reset-game:hover {
  font-size: 20px;
  opacity: 1;
  background-color: pink;
  color: white;
}
